﻿
@{
    ViewBag.Title = "Fotograflar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model b141210263mohammad_almahamid.Models.Data.Foto

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("FotografEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-success " id="right"> <span class="glyphicon glyphicon-plus"></span> Fotograf EKLE</button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label">Fotoğraf</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="file" class="form-control" />
                                        @Html.ValidationMessageFor(model => model.FotoImage , "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.FotoAD, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.FotoAD, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FotoAD, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Kaydet" class="btn btn-primary" />
                            </div>
                        </div>

                        <div>
                            @Html.ActionLink("Tümü Göster", "Fotograflar", "Admin", new { @class = "btn btn-success col-md-2 pull-right" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>












