﻿
@{
    ViewBag.Title = "Blog Duzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@model b141210263mohammad_almahamid.Models.Data.Foto


<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("FotografDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {

            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.FotoID )
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Fotoğraf Düzenle</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    @if (Model.FotoImage == null)
                                    {
                                        <img style='width:60%; height:auto; border:solid 1px #0094ff;' src="~/Content/image/no photo.png" alt="" />
                                    }
                                    else
                                    {
                                        <img style='width:50%; height:auto; border:solid 1px #00ffff;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.FotoImage)" alt="@Model.FotoAD" />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Fotoğraf</label>
                                <div class="col-sm-10">
                                    <input type="file" name="file" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-sm-2 control-label">Fotograf Adı</label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.FotoAD, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FotoAD, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="btn-toolbar pull-right">
                                <input type="submit" value="Kaydet" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>





