﻿
@{
    ViewBag.Title = "file";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<b141210263mohammad_almahamid.Models.Data.Foto>



<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Slider</h4>

                <a href="/Admin/FotografEkle" class="btn btn-success btn-sm tooltips " id="right" title="Fotograf EKLE"><span class="glyphicon glyphicon-plus"></span> Fotograf EKLE</a>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-2">Fotoğraf</th>
                            <th class="col-md-5">Fotoğraf Adi</th>
                            <th class="col-md-5">Eklenmis tarihi</th>
                            <th class="col-md-2">düzenleme işlemleri</th>
                            <th class="col-md-1">silme işlemleri</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.FotoImage == null)
                                {
                                    <td><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/Content/image/no photo.png" alt="" /></td>
                                }
                                else
                                {
                                    <td>
                                        <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.FotoImage)" />
                                    </td>
                                }
                                <td>@item.FotoAD</td>
                                <td>@DateTime.Now</td>
                                <td><a href='/Admin/FotografDuzenle?FotografID=@item.FotoID' class='btn btn-xs btn-info tooltips glyphicon glyphicon-edit' title='Düzenle'>Düzenle</a></td>
                                <td>@Html.ActionLink("Sil", "/FotografSil", new { FotografID = item.FotoID }, new { @class = "btn btn-xs btn-danger tooltips glyphicon glyphicon-trash", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>




