﻿
@{
    ViewBag.Title = "basictables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warper container-fluid">

    <div class="page-header"><h1>Basic Tables <small>Bootstrap tables</small></h1></div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Basic example</div>
                <div class="panel-body">

                    <table class="table no-margn">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Task Name</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Lorem ipsum dolor sit amet</td>
                                <td>
                                    <div class="progress progress-xs no-margn margn-t-xs">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete (warning)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Vivamus sodales dictum leo a lobortis</td>
                                <td>
                                    <div class="progress progress-xs no-margn margn-t-xs">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Pellentesque tempus ante</td>
                                <td>
                                    <div class="progress progress-xs no-margn margn-t-xs">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (warning)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Duis porttitor fringilla eleifend</td>
                                <td>
                                    <div class="progress progress-xs no-margn margn-t-xs">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (warning)</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Striped rows</div>
                <div class="panel-body">

                    <table class="table table-striped no-margn">
                        <thead>
                            <tr>
                                <th>Platform</th>
                                <th>Version</th>
                                <th>Rendering</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Windows 7</td>
                                <td>4.0.2</td>
                                <td>Trident</td>
                                <td class="text-center">
                                    <div id="table-sparkline1"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Windows 7</td>
                                <td>4.0.2</td>
                                <td>Trident</td>
                                <td class="text-center">
                                    <div id="table-sparkline2"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Windows 7</td>
                                <td>4.0.2</td>
                                <td>Trident</td>
                                <td class="text-center">
                                    <div id="table-sparkline3"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>Windows 7</td>
                                <td>4.0.2</td>
                                <td>Trident</td>
                                <td class="text-center">
                                    <div id="table-sparkline4"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>



    <hr class="no-margn">

    <div class="row">

        <div class="col-md-6">
            <div class="page-header"><h3>Contextual classes <small>color table rows</small></h3></div>

            <div class="panel panel-default">
                <div class="panel-heading">Colored rows</div>
                <div class="panel-body">

                    <table class="table no-margn">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Column heading</th>
                                <th>Column heading</th>
                                <th>Column heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="active">
                                <td>1</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="success">
                                <td>2</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="info">
                                <td>3</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="warning">
                                <td>4</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                            <tr class="danger">
                                <td>5</td>
                                <td>Column content</td>
                                <td>Column content</td>
                                <td>Column content</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="page-header"><h3>Responsive tables <small>Scroll horizontally</small></h3></div>

            <div class="panel panel-default">
                <div class="panel-heading">Responsive table</div>
                <div class="panel-body table-responsive">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                                <th>Table heading</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>



    <hr class="no-margn">

    <div class="page-header"><h3>With Controls <small>Basic table + controls</small></h3></div>

    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Controls Table</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-1">
                            <div class="form-group">
                                <select class="form-control input-sm  form-control-flat">
                                    <option>05</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>40</option>
                                    <option>All</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3" style="padding-left:0px;">
                            <p class="form-control-static">records per page</p>
                        </div>
                        <div class="col-lg-3 col-lg-offset-5">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm  form-control-flat" placeholder="Search record here...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm btn-flat" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="1">#</th>
                                <th>First Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Mob No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label class="cr-styled">
                                        <input type="checkbox" ng-model="todo.done">
                                        <i class="fa"></i>
                                    </label>
                                </td>
                                <td>Paris Foreman</td>
                                <td>kenton@trade.org</td>
                                <td>54234 Erma Ave</td>
                                <td>199-887-7642</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="cr-styled">
                                        <input type="checkbox" ng-model="todo.done">
                                        <i class="fa"></i>
                                    </label>
                                </td>
                                <td>Rachael Dodson</td>
                                <td>tricia.laverne.olive@way.com</td>
                                <td>5400 Atkinson Dr</td>
                                <td>306-745-6180</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="cr-styled">
                                        <input type="checkbox" ng-model="todo.done">
                                        <i class="fa"></i>
                                    </label>
                                </td>
                                <td>Eliseo Peterson</td>
                                <td>carla@lightlike.edu</td>
                                <td>69 S John Reddit Dr</td>
                                <td>850-855-9875</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="cr-styled">
                                        <input type="checkbox" ng-model="todo.done">
                                        <i class="fa"></i>
                                    </label>
                                </td>
                                <td>Malissa Avila</td>
                                <td>robbie.shauna@maymeal.me</td>
                                <td>430 State Hwy 73</td>
                                <td>826-379-4452</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="cr-styled">
                                        <input type="checkbox" ng-model="todo.done">
                                        <i class="fa"></i>
                                    </label>
                                </td>
                                <td>Alvina Mahoney</td>
                                <td>aubrey.griselda@appleapproval.org</td>
                                <td>3037 Hempstead Hwy</td>
                                <td>605-527-5369</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="cr-styled">
                                        <input type="checkbox" ng-model="todo.done">
                                        <i class="fa"></i>
                                    </label>
                                </td>
                                <td>Joan Fletcher</td>
                                <td>pierre.junior.freddy@instrument.edu</td>
                                <td>5985 Old Hwy 6</td>
                                <td>467-186-1793</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="cr-styled">
                                        <input type="checkbox" ng-model="todo.done">
                                        <i class="fa"></i>
                                    </label>
                                </td>
                                <td>Myron Goodman</td>
                                <td>rocky.pierre.junior@feeble.org</td>
                                <td>26 State Hwy 64 W</td>
                                <td>170-699-4064</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="cr-styled">
                                        <input type="checkbox" ng-model="todo.done">
                                        <i class="fa"></i>
                                    </label>
                                </td>
                                <td>Ahmad Mcbride</td>
                                <td>theresa.beverly@feather.org</td>
                                <td>58452 FM 2759</td>
                                <td>601-690-1247</td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <form class="form-inline" role="form">
                                    <select class="form-control  form-control-flat input-sm">
                                        <option>Actions</option>
                                        <option>Delete</option>
                                        <option>Merge</option>
                                        <option>Edit</option>
                                    </select>
                                    <button class="btn btn-default btn-sm btn-flat" type="button">Apply</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <p class="form-control-static text-center">Showing 1 to 5 of 15 entries</p>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm form-control-flat" placeholder="Search record here...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm btn-flat" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>




</div>

