﻿
@{
    ViewBag.Title = "blank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="warper container-fluid">

    <div class="page-header"><h1>Blank Template <small>Start new page with this</small></h1></div>



    <!-- Work Here -->



</div>