﻿
@{
    ViewBag.Title = "charts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="warper container-fluid">

    <div class="page-header"><h1>Charts <small>DevExpress ChartJS</small></h1></div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Bar Chart</div>
                <div class="panel-body">
                    <div id="bar-chart" style="height:250px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Side by side Bar</div>
                <div class="panel-body">
                    <div id="side-by-side-bar" style="height:250px;"></div>
                </div>
            </div>
        </div>


    </div>




    <div class="row">



        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Stacked Bar</div>
                <div class="panel-body">
                    <div id="stacked-bar" style="height:250px;"></div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Bar width</div>
                <div class="panel-body">
                    <div id="barwidth-bar" style="height:250px;"></div>
                </div>
            </div>
        </div>


    </div>




    <div class="page-header"><h3>Area Charts <small>DevExpress ChartJS</small></h3></div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Area Chart</div>
                <div class="panel-body">
                    <div id="area-chart" style="height:250px;"></div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Splinearea Chart</div>
                <div class="panel-body">
                    <div id="splinearea-chart" style="height:250px;"></div>
                </div>
            </div>
        </div>


    </div>




    <div class="page-header"><h3>Line And Point Charts <small>DevExpress ChartJS</small></h3></div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Line Chart</div>
                <div class="panel-body">
                    <div id="line-chart" style="height:250px;"></div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Bubble Chart</div>
                <div class="panel-body">
                    <div id="bubble-chart" style="height:250px;"></div>
                </div>
            </div>
        </div>


    </div>



    <div class="page-header"><h3>Pie/Doughnut Charts <small>DevExpress ChartJS</small></h3></div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Pie Chart</div>
                <div class="panel-body">
                    <div id="pie-chart" style="height:250px;"></div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Doughnut Chart</div>
                <div class="panel-body">
                    <div id="doughnut-chart" style="height:250px;"></div>
                </div>
            </div>
        </div>


    </div>






</div>
<!-- Warper Ends Here (working area) -->

