﻿
@{
    ViewBag.Title = "elfinder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warper container-fluid">

    <div class="page-header"><h1>File Manager <small>elfinder</small></h1></div>



    <div id="elfinder"></div>



</div>
<!-- Warper Ends Here (working area) -->

 <!-- elFinder JS (REQUIRED) -->
<script type="@Url.Content("~/Content/assets/")text/javascript" src="@Url.Content("~/Content/assets/")js/plugins/elfinder/elfinder.min.js"></script>

<script type="@Url.Content("~/Content/assets/")text/javascript" charset="utf-8">
			$().ready(function() {
				var elf = $('#elfinder').elfinder({
					url : 'php/elFinder/connector.php'  // connector URL (REQUIRED)
					// lang: 'ru',             // language (OPTIONAL)
				}).elfinder('instance');
			});
</script>