﻿
@{
    ViewBag.Title = "email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="warper container-fluid">

    <div class="page-header"><h1>Inbox <small>Your custom mailing box</small></h1></div>


    <div class="row">

        <div class="col-sm-3">
            <a href="email-compose.html" class="btn btn-danger btn-block">Compose</a>
            <hr class="clean">
            <div class="panel panel-default">
                <div class="panel-heading clean">Folders</div>
                <div class="panel-body no-padd">
                    <div class="list-group no-margn mail-nav">
                        <a href="#" class="list-group-item on"><span class="badge bg-blue text-white">14</span>Inbox</a>
                        <a href="#" class="list-group-item"><span class="badge bg-yellow text-white">2</span>Starred</a>
                        <a href="#" class="list-group-item">Important</a>
                        <a href="#" class="list-group-item">Sent Mail</a>
                        <a href="#" class="list-group-item"><span class="badge bg-danger text-white">7</span>Trash</a>
                    </div>
                </div>
                <hr class="xs">
                <div class="panel-heading clean">Custom Folders</div>
                <div class="panel-body no-padd">
                    <div class="list-group no-margn mail-nav">
                        <a href="#" class="list-group-item">Work</a>
                        <a href="#" class="list-group-item">Personal</a>
                        <a href="#" class="list-group-item">Other</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading clean">8gb Left</div>
                <div class="panel-body no-padd">
                    <div class="col-lg-12">
                        <div class="progress progress-xs progress-striped active">
                            <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-info">
                                <span class="sr-only">60% Complete (success)</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="col-sm-9">
            <div class="row">
                <div class="col-lg-9 col-xs-5">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            All <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">All</a></li>
                            <li><a href="#">None</a></li>
                            <li><a href="#">Read</a></li>
                            <li><a href="#">Unread</a></li>
                            <li><a href="#">Starred</a></li>
                            <li><a href="#">UnStarred</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default dropdown-toggle tooltip-btn" data-toggle="tooltip" data-placement="top" title="Refresh"><i class="fa fa-refresh"></i></button>
                    <div class="btn-group visible-lg-inline-block">
                        <button type="button" class="btn btn-default tooltip-btn" data-toggle="tooltip" data-placement="top" title="Archive"><i class="fa fa-inbox"></i></button>
                        <button type="button" class="btn btn-default tooltip-btn" data-toggle="tooltip" data-placement="top" title="Move to folder"><i class="fa fa-folder"></i></button>
                        <button type="button" class="btn btn-default tooltip-btn" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-7">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Search mail">
                        <span class="input-group-btn">
                            <button class="btn btn-purple" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <hr class="clean">
            <div class="panel panel-default">
                <div class="panel-body">

                    <table class="table table-hover mails">
                        <tr class="active">
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Google Inc</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Account verification confirm</a>
                            </td>
                            <td class="mail-attachment visible-lg"></td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                07:23 AM
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Facebook</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Mauris bibendum felis quis <span class="label label-warning">tortor ultricies</span></a>
                            </td>
                            <td class="mail-attachment visible-lg"></td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                07:10 AM
                            </td>
                        </tr>
                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star text-warning"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">MOHAMMAD</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Sed congue libero sit amet dui laoreet</a>
                            </td>
                            <td class="mail-attachment visible-lg">
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                05:42 AM
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">John Doe</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Vivamus porttitor ante et</a>
                            </td>
                            <td class="mail-attachment visible-lg"></td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Nov 02
                            </td>
                        </tr>
                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star text-warning"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">ThemeForest</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Aliquam <span class="label label-primary">luctus nibh</span> ac maximus ornare</a>
                            </td>
                            <td class="mail-attachment visible-lg"></td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Nov 03
                            </td>
                        </tr>
                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Twitter Inc</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Activate your account</a>
                            </td>
                            <td class="mail-attachment visible-lg">
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Nov 03
                            </td>
                        </tr>
                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Sakshi Arora</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">In sit amet arcu in erat venenatis ornare.</a>
                            </td>
                            <td class="mail-attachment visible-lg"></td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Nov 03
                            </td>
                        </tr>
                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Google Inc</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Account verification confirm</a>
                            </td>
                            <td class="mail-attachment visible-lg">
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Nov 14
                            </td>
                        </tr>
                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star text-warning"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Maecenas vitae</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Aliquam ultricies purus eget interdum finibus.</a>
                            </td>
                            <td class="mail-attachment visible-lg">
                                <i class="fa fa-paperclip"></i>
                            </td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Nov 27
                            </td>
                        </tr>
                        <tr class="active">
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Morbi lacinia magna</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Quisque eleifend elit porttitor ipsum</a>
                            </td>
                            <td class="mail-attachment visible-lg"></td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Oct 18
                            </td>
                        </tr>
                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Vivamus porttitor</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Sed <span class="label label-success">congue est quis</span> risus ipsum lacinia consequat.</a>
                            </td>
                            <td class="mail-attachment visible-lg"></td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Oct 20
                            </td>
                        </tr>
                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Google Inc</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Account verification confirm</a>
                            </td>
                            <td class="mail-attachment visible-lg"></td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Oct 29
                            </td>
                        </tr>
                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Maecenas vitae</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Aliquam ultricies purus eget interdum finibus.</a>
                            </td>
                            <td class="mail-attachment visible-lg"></td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Oct 27
                            </td>
                        </tr>
                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Morbi lacinia magna</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Quisque eleifend elit porttitor ipsum</a>
                            </td>
                            <td class="mail-attachment visible-lg"></td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Oct 30
                            </td>
                        </tr>
                        <tr>
                            <td class="mail-select">
                                <label class="cr-styled">
                                    <input type="checkbox" ng-model="todo.done" class="ng-pristine ng-untouched ng-valid">
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td class="mail-rateing">
                                <i class="fa fa-star"></i>
                            </td>
                            <td class="sender visible-lg visible-md">
                                <a href="email-read.html">Vivamus porttitor</a>
                            </td>

                            <td class="mail-content">
                                <a href="email-read.html">Sed congue est quis risus</a>
                            </td>
                            <td class="mail-attachment visible-lg"></td>
                            <td class="text-right visible-lg visible-md visible-sm">
                                Oct 30
                            </td>
                        </tr>
                    </table>

                    <hr>

                    <div class="row">
                        <div class="col-xs-7">
                            Showing 1 - 20 of 141
                        </div>
                        <div class="col-xs-5">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
                                <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>




</div>
<!-- Warper Ends Here (working area) -->
