﻿
@{
    ViewBag.Title = "file";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warper container-fluid">

    <div class="page-header"><h1>File Browser <small>Let's get a quick overview...</small></h1></div>


    <div class="filemanager">

        <div class="search">
            <input type="search" placeholder="Find a file.." />
        </div>

        <ol class="breadcrumb"></ol>


        <ul class="data list-unstyled"></ul>

        <div class="nothingfound">
            <div class="nofiles"></div>
            <span>No files here.</span>
        </div>

    </div>

    <hr>

    <p>Today we want to share a cool experiment with you. It is a cute file browser, which you can upload to a folder somewhere on your site and share documents, pictures and other files with the world. The app is built with PHP and jQuery and uses CSS3 extensively – no images or icons were used in the design, and the animations are smooth and work well even on smartphones.</p>

    <p>A PHP script &ndash; <strong>scan.php</strong> &ndash; scans the <strong>files</strong> folder and returns all files and folders as a single JSON object.</p>
    <p>Our JavaScript code, with the help of jQuery, takes this JSON, and turns it into a grid&nbsp;of files and folders. Clicking a folder re-renders the view with its contents.</p>
    -



</div>



