﻿
@{
    ViewBag.Title = "formvalidation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warper container-fluid">

    <div class="page-header"><h1>Form Validation <small>validation</small></h1></div>


    <div class="row">

        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-heading">Registration Form</div>
                <div class="panel-body">


                    <form method="post" class="validator-form" action="#">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="control-label">First name</label>
                                    <input type="text" class="form-control" name="firstName" placeholder="First name" />
                                </div>
                                <div class="col-lg-6">
                                    <label class="control-label">Last name</label>
                                    <input type="text" class="form-control" name="lastName" placeholder="Last name" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Username</label>
                            <input type="text" class="form-control" name="username" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Email address</label>
                            <input type="text" class="form-control" name="email" />
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="control-label">Password</label>
                                    <input type="password" class="form-control" name="password" />
                                </div>
                                <div class="col-lg-6">
                                    <label class="control-label">Re password</label>
                                    <input type="password" class="form-control" name="confirmPassword" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" id="captchaOperation"></label>
                            <input type="text" class="form-control" name="captcha" />
                        </div>

                        <div class="form-group">
                            <label class="cr-styled">
                                <input type="checkbox">
                                <i class="fa"></i>
                            </label>
                            I agree with all <a href="#">Terms &amp; Conditions</a>
                        </div>

                        <hr class="dotted">

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" name="signup" value="Validate">Validate</button>
                            <button type="button" class="btn btn-info" id="resetBtn">Reset form</button>
                        </div>
                    </form>


                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Ajax Submit</div>
                <div class="panel-body">


                    <form method="post" class="form-horizontal validator-form" action="php/bootstrap-validator/ajaxSubmit.php">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Username</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="username" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Email address</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="email" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Password</label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" name="password" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <button type="submit" class="btn btn-primary">Sign up</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">Not Empty validator</div>
                <div class="panel-body">


                    <form method="post" class="form-horizontal validator-form" action="#">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Username</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="username" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Country</label>
                            <div class="col-lg-9">
                                <select class="form-control" name="country">
                                    <option value="">-- Select a country --</option>
                                    <option value="fr">France</option>
                                    <option value="de">Germany</option>
                                    <option value="it">Italy</option>
                                    <option value="jp">Japan</option>
                                    <option value="ru">Russia</option>
                                    <option value="gb">United Kingdom</option>
                                    <option value="us">United State</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <div class="checkbox">
                                    <input type="checkbox" name="acceptTerms" /> Accept the terms and policies
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-9 col-lg-offset-3">
                                <button type="submit" class="btn btn-primary">Sign up</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Advanced Validation</div>
                <div class="panel-body">

                    <form method="post" class="validator-form form-horizontal" action="#">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Date Picker</label>
                            <div class="col-sm-9">
                                <div class='input-group date' id="datepicker">
                                    <input type='text' class="form-control" name="monthDayYear" data-date-format="MM/DD/YYYY" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Birthday</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="birthday" />
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Website</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="website" placeholder="http://" />
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">US Phone</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="phoneNumberUS" />
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">UK Phone</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="phoneNumberUK" />
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Hex color</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="color" />
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">US zip code</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" name="zipCode" />
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Select Two</label>
                            <div class="col-lg-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="languages[]" value="net" /> .Net
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="languages[]" value="java" /> Java
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="languages[]" value="c" /> C/C++
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="languages[]" value="php" /> PHP
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="languages[]" value="javascript" /> Javascript
                                    </label>
                                </div>
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Editors</label>
                            <div class="col-lg-9">
                                <select class="form-control" name="editors[]" multiple="multiple" style="height: 100px;">
                                    <option value="" disabled>Choose 2 - 3 editors</option>
                                    <option value="atom">Atom</option>
                                    <option value="eclipse">Eclipse</option>
                                    <option value="netbeen">NetBean</option>
                                    <option value="nodepadplusplus">Nodepad++</option>
                                    <option value="phpstorm">PHP Storm</option>
                                    <option value="sublime">Sublime</option>
                                    <option value="webstorm">Web Storm</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary" name="signup" value="Validate">Validate</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>




</div>
<!-- Warper Ends Here (working area) -->


