﻿
@{
    ViewBag.Title = "gauges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warper container-fluid">

    <div class="page-header"><h1>Gauges <small>Let's get a quick overview...</small></h1></div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Palette for Ranges </div>
                <div class="panel-body">
                    <div id="gauges-1"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Scale Minor Ticks</div>
                <div class="panel-body">
                    <div id="gauges-2"></div>
                </div>
            </div>
        </div>

    </div>



    <div class="page-header"><h3>Bar Gauges </h3></div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Labels Customization</div>
                <div class="panel-body">
                    <div id="bar-gauge-1"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Bar Gauge Palette</div>
                <div class="panel-body">
                    <div id="bar-gauge-2"></div>
                </div>
            </div>
        </div>

    </div>



    <div class="page-header"><h3>Linear Gauges </h3></div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Linear Gauges</div>
                <div class="panel-body">
                    <div id="linear-gauge-1"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Linear Gauges</div>
                <div class="panel-body">
                    <div id="linear-gauge-2"></div>
                </div>
            </div>
        </div>

    </div>


</div>

