﻿
@{
    ViewBag.Title = "googlemaps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warper container-fluid">

    <div class="page-header"><h1>Google Maps </h1></div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Simple Map</div>
                <div class="panel-body">
                    <div id="simpleMap" style="height:250px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Weather layer</div>
                <div class="panel-body">
                    <div id="weatherMap" style="height:250px;"></div>
                </div>
            </div>
        </div>

    </div>



    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Traffic Map</div>
                <div class="panel-body">
                    <div id="trafficMap" style="height:250px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Transit Map</div>
                <div class="panel-body">
                    <div id="transitMap" style="height:250px;"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="page-header"><h3>Street View</h3></div>

    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Street View</div>
                <div class="panel-body">

                    <div id="streetviewMap" style="height:250px;"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=weather"></script>
    <script src="assets/js/google-maps/googlemap-conf.js"></script>
</div>
<!-- Warper Ends Here (working area) -->



