﻿
@{
    ViewBag.Title = "grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warper container-fluid">

    <div class="page-header"><h1>Grid <small>Bootstrap grig responsive</small></h1></div>



    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-12
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-6
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-6
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-4
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-4
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-4
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-3
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-3
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-3
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-3
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-2
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-2
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-2
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-2
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-2
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    .col-lg-2
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    ..lg-1
                </div>
            </div>
        </div>
    </div>

    <p>Bootstrap includes a responsive, mobile first fluid grid system that appropriately scales up to 12 columns as the device or viewport size increases. It includes predefined classes for easy layout options, as well as powerful mixins for generating more semantic layouts.</p>


</div>
<!-- Warper Ends Here (working area) -->

