﻿
@{
    ViewBag.Title = "image";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="warper container-fluid">

    <div class="page-header"><h1>Image Cropper <small>A simple jQuery image cropping plugin</small></h1></div>


    <div class="row">

        <div class="col-md-8">

            <div class="panel panel-default">
                <div class="panel-heading">Heading</div>
                <div class="panel-body">

                    <div>
                        <img class="cropper" src="@Url.Content("~/Content/assets/")images/carousel/1.jpg" alt="Picture">
                    </div>

                    <hr>

                    <ul class="list-unstyled list-inline showcase-btn text-center">
                        <li><button id="reset" type="button" class="btn btn-warning">Reset</button></li>
                        <li><button id="reset2" type="button" class="btn  btn-warning">Reset (deep)</button></li>
                        <li><button id="clear" type="button" class="btn btn-primary">Release</button></li>
                        <li><button id="destroy" type="button" class="btn btn-danger">Destroy</button></li>
                        <li><button id="enable" type="button" class="btn btn-success">Enable</button></li>
                        <li><button id="disable" type="button" class="btn btn-warning">Disable</button></li>
                        <li><button id="zoomIn" type="button" class="btn btn-info">Zoom In</button></li>
                        <li><button id="zoomOut" type="button" class="btn btn-info">Zoom Out</button></li>
                        <li><button id="rotateLeft" type="button" class="btn btn-info">Rotate Left</button></li>
                        <li><button id="rotateRight" type="button" class="btn btn-info">Rotate Right</button></li>
                        <li><button id="setData" type="button" class="btn btn-primary">Set Data</button></li>
                    </ul>


                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-heading">Preview</div>
                <div class="panel-body">
                    <div class="preview preview-md"></div>
                    <div class="preview preview-sm"></div>
                    <div class="preview preview-xs"></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Current Values</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">X</span>
                                <input class="form-control" id="dataX" type="text" placeholder="x">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">Y</span>
                                <input class="form-control" id="dataY" type="text" placeholder="y">
                            </div>
                        </div>
                    </div>
                    <hr class="xs">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">W</span>
                                <input class="form-control" id="dataWidth" type="text" placeholder="width">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">H</span>
                                <input class="form-control" id="dataHeight" type="text" placeholder="height">
                            </div>
                        </div>
                    </div>
                    <hr class="xs">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-addon">Rotate</span>
                                <input class="form-control" id="dataRotate" type="text" placeholder="rotate">
                            </div>
                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Actions</div>
                <div class="panel-body">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-info" id="getData" type="button">Get Data</button>
                        </span>
                        <input class="form-control" id="showData" type="text">
                    </div>

                    <hr class="xs">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-info" id="getImageData" type="button">Get Image Data</button>
                        </span>
                        <input class="form-control" id="showImageData" type="text">
                    </div>

                    <hr class="xs">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="replace" type="button">Replace</button>
                        </span>
                        <input class="form-control" id="replaceWith" type="text" value="@Url.Content("~/Content/assets/")images/carousel/2.jpg">
                    </div>

                    <hr class="xs">

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="setAspectRatio" type="button">Set Aspect Ratio</button>
                        </span>
                        <input class="form-control" id="aspectRatio" name="aspectRatio" type="text" value="auto">
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-lg-6"><button class="btn btn-primary btn-block" id="getDataURL" type="button">Get Data URL</button></div>
                        <div class="col-lg-6"><button class="btn btn-primary btn-block" id="getDataURL2" type="button">Get Data URL (JPG)</button></div>
                    </div>

                    <hr class="xs">

                    <textarea class="form-control" id="dataURL" rows="3"></textarea>

                    <div id="showDataURL"></div>

                </div>
            </div>

        </div>

    </div>







</div>
<!-- Warper Ends Here (working area) -->
 <!-- Image Cropper -->
<script src="@Url.Content("~/Content/assets/")js/plugins/cropper/cropper.min.js"></script>
<script src="@Url.Content("~/Content/assets/")js/plugins/cropper/cropper-conf.js"></script>

