﻿
@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warper container-fluid">

    <div class="page-header"><h1>Notes <small>Personal Diary</small></h1></div>


    <div class="row">

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Recently Created</div>
                <div class="panel-body">

                    <h5 class="no-margn"><a href="#" class="text-muted"><strong>Nullam quis risus eget</strong></a></h5>
                    <p><small>at 4:00 pm</small></p>

                    <hr>

                    <h5 class="no-margn"><a href="#" class="text-muted"><strong>Sed eros quam</strong></a></h5>
                    <p><small>at 4:00 pm</small></p>

                    <hr>

                    <h5 class="no-margn"><a href="#" class="text-muted"><strong>Integer sed felis</strong></a></h5>
                    <p><small>at 4:00 pm</small></p>

                    <hr>

                    <h5 class="no-margn"><a href="#" class="text-muted"><strong>Nullam quis risus eget</strong></a></h5>
                    <p><small>at 4:00 pm</small></p>

                    <hr>

                    <h5 class="no-margn"><a href="#" class="text-muted"><strong>Lorem ipsum dolor</strong></a></h5>
                    <p><small>at 4:00 pm</small></p>

                    <hr>


                    <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#addNote">Add New</button>


                </div>
            </div>
        </div>

        <div class="col-md-9">


            <textarea class="wysihtml form-control" placeholder="Enter text ..." style="height: 400px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet molestie libero. Pellentesque mattis, nisl et venenatis varius, purus elit iaculis tortor, auctor imperdiet nulla sem sit amet libero.<br><br>

                Nulla suscipit arcu a elit fermentum fringilla. Aliquam lacinia lorem risus, in vestibulum ex condimentum tincidunt. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec et dui pulvinar, porttitor velit non, auctor turpis. Quisque eleifend accumsan ipsum, eu hendrerit lectus.<br><br>

                Praesent sit amet nunc ut odio volutpat pretium. Morbi a facilisis diam. Aliquam sagittis magna vel diam pellentesque, at venenatis mauris pretium. Suspendisse potenti. Morbi bibendum, risus a dignissim lacinia, metus erat condimentum nibh, sit amet ultricies ante elit non quam.
            </textarea>



        </div>

    </div>




</div>
<!-- Warper Ends Here (working area) -->
<!-- Modal -->
<div class="modal fade" id="addNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">New Document</h4>
            </div>
            <div class="modal-body">

                <form role="form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">File Name</label>
                                <input type="text" class="form-control" placeholder="Name of Document">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">File Type</label>
                                <select class="form-control">
                                    <option>Blank Document</option>
                                    <option>Blog Post</option>
                                    <option>Agendas</option>
                                    <option>Expense Report</option>
                                    <option>Forms</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>