﻿
@{
    ViewBag.Title = "page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h1 class="text-center" style="font-size:150px; font-weight:800;">404</h1>
            <p class="text-center lead">The Page you requested does not exist</p>
            <hr class="">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">

            <form>
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search Here...">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-purple">Search</button>
                    </span>
                </div>
            </form>


        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center ">
            <hr class="">
            <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin iaculis quam sit amet nisi dictum, in iaculis dolor lobortis. Aenean placerat purus non faucibus aliquam.</p>
            <button type="submit" class="btn btn-default">Go Home</button>
        </div>
    </div>

</div>


