﻿
@{
    ViewBag.Title = "range";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warper container-fluid">

    <div class="page-header"><h1>Range Selector <small>DevExpress ChartJS</small></h1></div>



    <div class="panel panel-default">
        <div class="panel-heading" id="numeric-scale-selected-value">Selected Range:</div>
        <div class="panel-body">
            <div id="numeric-scale"></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Date-Time Scale</div>
        <div class="panel-body">
            <div id="date-time-scale"></div>
        </div>
    </div>

    <div class="page-header"><h3>Logarithmic Scale <small>DevExpress ChartJS</small></h3></div>


    <div class="panel panel-default">
        <div class="panel-heading">With Chart Zoom</div>
        <div class="panel-body">
            <div id="zoomedChart"></div>
            <div id="range" data-bind="dxRangeSelector: rangeOptions"></div>
        </div>
    </div>



</div>
<!-- Warper Ends Here (working area) -->


