﻿
@{
    ViewBag.Title = "Timeline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="warper container-fluid">

        <div class="page-header"><h1>Timeline <small>View your events</small></h1></div>


        <div class="row">

            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Add New Events</div>
                    <div class="panel-body">

                        <form role="form">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="email" class="form-control" placeholder="Event Name">
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                <input type="password" class="form-control" placeholder="Event Date">
                            </div>
                            <hr>
                            <div class="form-group no-margn">
                                <button class="btn btn-success btn-block" type="button" data-toggle="modal" data-target="#timeline-event">Add New Event</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="col-sm-9">

                <ul class="timeline list-unstyled">
                    <li class="clearfix">
                        <time class="tl-time">
                            <h3 class="text-purple">23:15</h3>
                            <p>05th September 2013</p>
                        </time>
                        <i class="fa fa-comments-o bg-purple tl-icon text-white"></i>
                        <div class="tl-content">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Events</div>
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. Nam fermentum, massa sit amet pulvinar laoreet, sem mi viverra turpis, ac porta felis nisl eu odio.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <time class="tl-time">
                            <h3 class="text-success">07:44</h3>
                            <p>23th April 2013</p>
                        </time>
                        <i class="fa fa-comments-o bg-success tl-icon text-white"></i>
                        <div class="tl-content">
                            <div class="panel panel-success">
                                <div class="panel-body">
                                    Maecenas eget tempor diam.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <time class="tl-time">
                            <h3 class="text-warning">12:14</h3>
                            <p>23th August 2013</p>
                        </time>
                        <i class="fa fa-comments-o bg-warning tl-icon text-white"></i>
                        <div class="tl-content">
                            <div class="panel panel-warning">
                                <div class="panel-body">
                                    Etiam pretium at dolor id tincidunt. <span class="label label-danger">Aliquam non mollis diam</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <time class="tl-time">
                            <h3 class="text-info">12:14</h3>
                            <p>23th August 2013</p>
                        </time>
                        <i class="fa fa-comments-o bg-info tl-icon text-white"></i>
                        <div class="tl-content">
                            <div class="panel panel-info" style="display:block;">
                                <div class="panel-body">
                                    <div id="simpleMap" style="height:250px;"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <time class="tl-time">
                            <h3 class="text-danger">12:14</h3>
                            <p>23th August 2013</p>
                        </time>
                        <i class="fa fa-comments-o bg-danger tl-icon text-white"></i>
                        <div class="tl-content">
                            <div class="panel panel-danger">
                                <div class="panel-body">
                                    Ut a tellus non neque faucibus. <span class="label label-warning">Aenean sem lorem, rhoncus</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <time class="tl-time">
                            <h3 class="text-success">07:44</h3>
                            <p>23th April 2013</p>
                        </time>
                        <i class="fa fa-comments-o bg-success tl-icon text-white"></i>
                        <div class="tl-content">
                            <div class="panel panel-success">
                                <div class="panel-heading">Events</div>
                                <div class="panel-body">
                                    Etiam pretium at dolor id tincidunt. Vestibulum mi enim, aliquet quis dignissim quis, facilisis et nulla. Etiam nisl odio, pretium et vulputate at, volutpat id lectus.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <time class="tl-time">
                            <h3 class="text-purple">23:15</h3>
                            <p>05th September 2013</p>
                        </time>
                        <i class="fa fa-comments-o bg-purple tl-icon text-white"></i>
                        <div class="tl-content">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Events</div>
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. Nam fermentum, massa sit amet pulvinar laoreet, sem mi viverra turpis, ac porta felis nisl eu odio.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <time class="tl-time">
                            <h3 class="text-success">07:44</h3>
                            <p>23th April 2013</p>
                        </time>
                        <i class="fa fa-comments-o bg-success tl-icon text-white"></i>
                        <div class="tl-content">
                            <div class="panel panel-success">
                                <div class="panel-body">
                                    Maecenas eget tempor diam.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <time class="tl-time">
                            <h3 class="text-warning">12:14</h3>
                            <p>23th August 2013</p>
                        </time>
                        <i class="fa fa-comments-o bg-warning tl-icon text-white"></i>
                        <div class="tl-content">
                            <div class="panel panel-warning">
                                <div class="panel-body">
                                    Etiam pretium at dolor id tincidunt. <span class="label label-danger">Aliquam non mollis diam</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

        </div>




    </div>
    <!-- Warper Ends Here (working area) -->
<!-- Content Block Ends Here (right box)-->
<!-- Modal -->
<div class="modal fade" id="timeline-event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Configuration Panel</h4>
            </div>
            <div class="modal-body">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas erat quam, fermentum et accumsan eu, imperdiet ac urna. In vulputate diam sed urna tempor luctus. Curabitur vestibulum augue ac sapien pharetra rutrum. Cras ac elit pellentesque, pretium nisi sit amet, condimentum leo. Mauris auctor sagittis elit, ut bibendum enim condimentum vitae. Morbi nec elit ut massa efficitur sodales ut non risus. Proin eget nisi aliquam, mattis justo ac, sollicitudin ex. </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add Event</button>
            </div>
        </div>
    </div>
</div>

