﻿
@{
    ViewBag.Title = "typography";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warper container-fluid">

    <div class="page-header"><h1>Typography <small>Much more</small></h1></div>


    <div class="row">

        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">Heading</div>
                <div class="panel-body">

                    <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

                    <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

                    <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

                    <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

                    <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

                    <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>


                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Blockquote</div>
                <div class="panel-body">


                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </blockquote>

                    <hr>

                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>

                    <hr>

                    <blockquote class="blockquote-reverse">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Description</div>
                <div class="panel-body">


                    <dl>
                        <dt>Description lists</dt>
                        <dd>A description list is perfect for defining terms.</dd>
                        <dt>Euismod</dt>
                        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                        <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                        <dt>Malesuada porta</dt>
                        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                    </dl>

                    <hr>

                    <dl class="dl-horizontal">
                        <dt>Description lists</dt>
                        <dd>A description list is perfect for defining terms.</dd>
                        <dt>Euismod</dt>
                        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                        <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                        <dt>Malesuada porta</dt>
                        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                        <dt>Felis euismod semper eget lacinia</dt>
                        <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                    </dl>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Addresses</div>
                <div class="panel-body">


                    <address>
                        <strong>Twitter, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>

                    <address>
                        <strong>Full Name</strong><br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>

                </div>
            </div>
        </div>

        <div class="col-md-5">

            <div class="panel panel-default">
                <div class="panel-heading">Body copy</div>
                <div class="panel-body">

                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>

                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>

                    <hr>

                    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Inline text elements</div>
                <div class="panel-body">

                    <p>You can use the mark tag to <mark>highlight</mark> text..</p>

                    <hr>

                    <p><del>This line of text is meant to be treated as deleted text.</del></p>

                    <hr>

                    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>

                    <hr>

                    <p><small>This line of text is meant to be treated as fine print.</small></p>

                    <hr>

                    <p><em>rendered as italicized text</em></p>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Colors</div>
                <div class="panel-body">

                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>

                    <hr>

                    <p class="bg-primary padd-sm text-white">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="bg-success padd-sm text-white">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="bg-info padd-sm text-white">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                    <p class="bg-warning padd-sm text-white">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="bg-danger padd-sm text-white">Donec ullamcorper nulla non metus auctor fringilla.</p>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">List</div>
                <div class="panel-body">

                    <ul>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>
                            Nulla volutpat aliquam velit
                            <ul>
                                <li>Phasellus iaculis neque</li>
                                <li>Purus sodales ultricies</li>
                                <li>Ac tristique libero volutpat at</li>
                            </ul>
                        </li>
                        <li>Faucibus porta lacus fringilla vel</li>
                        <li>Aenean sit amet erat nunc</li>
                        <li>Eget porttitor lorem</li>
                    </ul>

                    <hr>

                    <ol>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipiscing elit</li>
                        <li>Integer molestie lorem at massa</li>
                        <li>Facilisis in pretium nisl aliquet</li>
                    </ol>

                    <hr>

                    <ul class="list-unstyled">
                        <li>Facilisis in pretium nisl aliquet</li>
                        <li>
                            Nulla volutpat aliquam velit
                            <ul>
                                <li>Phasellus iaculis neque</li>
                                <li>Purus sodales ultricies</li>
                                <li>Vestibulum laoreet porttitor sem</li>
                            </ul>
                        </li>
                        <li>Faucibus porta lacus fringilla vel</li>
                    </ul>


                </div>
            </div>

        </div>

    </div>




</div>
<!-- Warper Ends Here (working area) -->


