﻿
@{
    ViewBag.Title = "vectormaps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="warper container-fluid">

    <div class="page-header"><h1>Vector Maps <small>DevExpress ChartJS</small></h1></div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">World Map</div>
                <div class="panel-body">
                    <div id="demo-map-1" style="height:250px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">With Markers</div>
                <div class="panel-body">
                    <div id="demo-map-2" style="height:250px;"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">USA</div>
                <div class="panel-body">
                    <div id="demo-map-3" style="height:250px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Africa</div>
                <div class="panel-body">
                    <div id="demo-map-4" style="height:250px;"></div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Canada</div>
                <div class="panel-body">
                    <div id="demo-map-5" style="height:250px;"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Europe</div>
                <div class="panel-body">
                    <div id="demo-map-6" style="height:250px;"></div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- Warper Ends Here (working area) -->

