﻿
@{
    ViewBag.Title = "wysihtml";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="warper container-fluid">

    <div class="page-header"><h1>wysihtml <small>Bootstarp editor</small></h1></div>


    <textarea class="wysihtml form-control" placeholder="Enter text ..." style="height: 200px"></textarea>

    <hr>

    <div class="page-header"><h3>Ckeditor <small>HTML editor</small></h3></div>


    <textarea cols="100" id="ckeditor" name="editor1" rows="10">&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href="http://ckeditor.com/"&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;</textarea>

    <hr>

    <div class="page-header"><h3>Inline Editing <small>Edit inline</small></h3></div>

    <div class="row">
        <div class="col-lg-6">
            <div class="inlineckeditor " contenteditable="true">
                <h4>What is Lorem Ipsum?</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="inlineckeditor" contenteditable="true">
                <h4>What is Lorem Ipsum?</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>


</div>
<!-- Warper Ends Here (working area) -->
