﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MOHAMMAD AL MAHAMID b141210263</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <meta name="description" content="">
    <meta name="author" content="MOHAMMAD AL MAHAMID">
    <!-- Timeline Styling  -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/")css/app/timeline.css" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/")css/bootstrap/bootstrap.css" />

    <!-- Calendar Styling  -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/")css/plugins/calendar/calendar.css" />

    <!-- Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'>

    <!-- Base Styling  -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/")css/app/app.v1.css" />

    <!-- Image Cropper  -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/")css/plugins/cropper/cropper.css" />
    <!-- datatables Styling  -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/")css/plugins/datatables/jquery.dataTables.css" />


</head>
<body>

    <!-- Preloader -->
    <div class="loading-container">
        <div class="loading">
            <div class="l1">
                <div></div>
            </div>
            <div class="l2">
                <div></div>
            </div>
            <div class="l3">
                <div></div>
            </div>
            <div class="l4">
                <div></div>
            </div>
        </div>
    </div>
    <!-- Preloader -->


    <aside class="left-panel">

        <div class="user text-center">
            <img src="@Url.Content("~/Content/assets/")images/avtar/user.png" class="img-circle" alt="...">
            <h4 class="user-name">@User.Identity.Name</h4>

            <div class="dropdown user-login">
                <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-circle status-icon available"></i> Available <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon busy"></i> Busy</a></li>
                    <li role="presentation"><a role="menuitem" href="#"><i class="fa fa-circle status-icon invisibled"></i> Invisible</a></li>
                    <li> @Html.Partial("_LoginPartial")</li>
                </ul>
            </div>
        </div>
        <nav class="navigation">
            <ul class="list-unstyled">
                <li class="active"> @Html.ActionLink(b141210263mohammad_almahamid.Resources.lang.adminSayfa, "Fotograflar", "Admin", new { @class = "  fa fa-bookmark-o" })</li>
         
                <li class="has-submenu nav-label">
               

                       @Html.ActionLink(b141210263mohammad_almahamid.Resources.lang.Create, "FotografEkle", "Admin")
                  </li>
                <li class="has-submenu nav-label">
                     @Html.ActionLink(b141210263mohammad_almahamid.Resources.lang.Dashboard, "index", "Home")


                </li>
                
            </ul>
        </nav>

    </aside>
    <!-- Aside Ends-->

    <section class="content">

        <header class="top-head container-fluid">
            <button type="button" class="navbar-toggle pull-left">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <form role="search" class="navbar-left app-search pull-left hidden-xs">
                <input type="text" placeholder="Enter keywords..." class="form-control form-control-circle">
            </form>

            <nav class=navbar-default hidden-xs" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">@b141210263mohammad_almahamid.Resources.lang.Dropdown <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li> @Html.ActionLink("Admin", "fileei", "Admin")</li>
                            <li> @Html.ActionLink("File Add", "fileei", "Admin")</li>
                            <li> @Html.ActionLink("File change", "fileei", "Admin")</li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>

                    </li>

                </ul>


            </nav>

            <ul class="nav-toolbar">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="fa fa-comments-o"></i> <span class="badge bg-warning">7</span></a>
                    <div class="dropdown-menu md arrow pull-right panel panel-default arrow-top-right messages-dropdown">
                        <div class="panel-heading">
                            @b141210263mohammad_almahamid.Resources.lang.Messages
                        </div>


                        <div class="list-group">

                            <a href="#" class="list-group-item">
                                <div class="media">
                                    <div class="user-status busy pull-left">
                                        <img class="media-object img-circle pull-left" src="@Url.Content("~/Content/assets/")images/avtar/user2.png" alt="user#1" width="40">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">Lorem ipsum dolor sit consect....</h5>
                                        <small class="text-muted">23 Sec ago</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="media">
                                    <div class="user-status offline pull-left">
                                        <img class="media-object img-circle pull-left" src="@Url.Content("~/Content/assets/")images/avtar/user3.png" alt="user#1" width="40">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">Nunc elementum, enim vitae</h5>
                                        <small class="text-muted">23 Sec ago</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="media">
                                    <div class="user-status invisibled pull-left">
                                        <img class="media-object img-circle pull-left" src="@Url.Content("~/Content/assets/")images/avtar/user4.png" alt="user#1" width="40">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">Praesent lacinia, arcu eget</h5>
                                        <small class="text-muted">23 Sec ago</small>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="media">
                                    <div class="user-status online pull-left">
                                        <img class="media-object img-circle pull-left" src="@Url.Content("~/Content/assets/")images/avtar/user5.png" alt="user#1" width="40">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="media-heading">In mollis blandit tempor.</h5>
                                        <small class="text-muted">23 Sec ago</small>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="btn btn-info btn-flat btn-block">View All Messages</a>

                        </div>

                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="fa fa-bell-o"></i><span class="badge">3</span></a>
                    <div class="dropdown-menu arrow pull-right md panel panel-default arrow-top-right notifications">
                        <div class="panel-heading">
                            @b141210263mohammad_almahamid.Resources.lang.Notification
                        </div>

                        <div class="list-group">

                            <a href="#" class="list-group-item">
                                <p>Installing App v1.2.1<small class="pull-right text-muted">45% Done</small></p>
                                <div class="progress progress-xs no-margn progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="list-group-item">
                                Fusce dapibus molestie tincidunt. Quisque facilisis libero eget justo iaculis
                            </a>

                            <a href="#" class="list-group-item">
                                <p>Server Status</p>
                                <div class="progress progress-xs no-margn">
                                    <div class="progress-bar progress-bar-success" style="width: 35%">
                                        <span class="sr-only">35% Complete (success)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-warning" style="width: 20%">
                                        <span class="sr-only">20% Complete (warning)</span>
                                    </div>
                                    <div class="progress-bar progress-bar-danger" style="width: 10%">
                                        <span class="sr-only">10% Complete (danger)</span>
                                    </div>
                                </div>
                            </a>



                            <a href="#" class="list-group-item">
                                <div class="media">
                                    <span class="label label-danger media-object img-circle pull-left">Danger</span>
                                    <div class="media-body">
                                        <h5 class="media-heading">Lorem ipsum dolor sit consect..</h5>
                                    </div>
                                </div>
                            </a>


                            <a href="#" class="list-group-item">
                                <p>Server Status</p>
                                <div class="progress progress-xs no-margn">
                                    <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-info">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </a>


                        </div>

                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="fa fa-file-text-o"></i></a>
                    <div class="dropdown-menu lg pull-right arrow panel panel-default arrow-top-right">
                        <div class="panel-heading">
                            @b141210263mohammad_almahamid.Resources.lang.MoreApps
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-green"><span class="h2"><i class="fa fa-envelope-o"></i></span><p class="text-gray no-margn">Messages</p></a></div>
                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-purple"><span class="h2"><i class="fa fa-calendar-o"></i></span><p class="text-gray no-margn">Events</p></a></div>

                                <div class="col-xs-12 visible-xs-block"><hr></div>

                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-red"><span class="h2"><i class="fa fa-comments-o"></i></span><p class="text-gray no-margn">Chatting</p></a></div>

                                <div class="col-lg-12 col-md-12 col-sm-12  hidden-xs"><hr></div>

                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-yellow"><span class="h2"><i class="fa fa-folder-open-o"></i></span><p class="text-gray">Folders</p></a></div>

                                <div class="col-xs-12 visible-xs-block"><hr></div>

                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-primary"><span class="h2"><i class="fa fa-flag-o"></i></span><p class="text-gray">Task</p></a></div>
                                <div class="col-xs-6 col-sm-4"><a href="#" class="text-info"><span class="h2"><i class="fa fa-star-o"></i></span><p class="text-gray">Favorites</p></a></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="#" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i> <span class="badge bg-warning">Dil</span></a>
                    <div class="dropdown-menu md arrow pull-right panel panel-default arrow-top-right messages-dropdown">
                        <div class="panel-heading">
                            Dil
                        </div>


                        <div class="list-group">
                            @Html.ActionLink(@b141210263mohammad_almahamid.Resources.lang.En, "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)
                        </div>
                        <div class="list-group">
                            @Html.ActionLink(@b141210263mohammad_almahamid.Resources.lang.Tr, "ChangeCulture", "Home", new { lang = "tr", returnUrl = this.Request.RawUrl }, null)

                        </div>

                    </div>
                </li>

            </ul>

        </header>
        <!-- Header Ends -->
        <div>
            @RenderBody()
            <hr />
            <footer class="container-fluid footer">
                Copyright &copy; 2016 <a href="http://freakpixels.com/" target="_blank">FreakPixels</a>
                <a href="#" class="pull-right scrollToTop"><i class="fa fa-chevron-up"></i></a>
            </footer>

        </div>

        <!-- NiceScroll -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
        <!-- Custom JQuery -->
        <script src="@Url.Content("~/Content/assets/")js/app/custom.js" type="text/javascript"></script>
        <!-- DateTime Picker -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
        <!-- Bootstrap Validator -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
        <script src="@Url.Content("~/Content/assets/")js/plugins/bootstrap-validator/bootstrapValidator-conf.js"></script>

        <!-- JQuery v1.9.1 -->
        <script src="@Url.Content("~/Content/assets/")js/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/assets/")js/plugins/underscore/underscore-min.js"></script>
        <!-- Bootstrap -->
        <script src="@Url.Content("~/Content/assets/")js/bootstrap/bootstrap.min.js"></script>

        <!-- Globalize -->
        <script src="@Url.Content("~/Content/assets/")js/globalize/globalize.min.js"></script>

        <!-- NanoScroll -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/nicescroll/jquery.nicescroll.min.js"></script>

        <!-- Chart JS -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/DevExpressChartJS/dx.chartjs.js"></script>
        <script src="@Url.Content("~/Content/assets/")js/plugins/DevExpressChartJS/world.js"></script>
        <!-- For Demo Charts -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/DevExpressChartJS/demo-charts.js"></script>
        <script src="@Url.Content("~/Content/assets/")js/plugins/DevExpressChartJS/demo-vectorMap.js"></script>

        <!-- Sparkline JS -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/sparkline/jquery.sparkline.min.js"></script>
        <!-- For Demo Sparkline -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/sparkline/jquery.sparkline.demo.js"></script>

        <!-- Angular JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
        <!-- ToDo List Plugin -->
        <script src="@Url.Content("~/Content/assets/")js/angular/todo.js"></script>
        <!-- ToDo List Plugin -->
        <script src="@Url.Content("~/Content/assets/")js/angular/todo.js"></script>


        <!-- Calendar JS -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/calendar/calendar.js"></script>
        <!-- Calendar Conf -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/calendar/calendar-conf.js"></script>



        <!-- Custom JQuery -->
        <script src="@Url.Content("~/Content/assets/")js/app/custom.js" type="text/javascript"></script>

        <!-- Google Maps -->
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
        <script src="@Url.Content("~/Content/assets/")js/google-maps/googlemap-conf.js"></script>
        <!-- Data Table -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/datatables/jquery.dataTables.js"></script>
        <script src="@Url.Content("~/Content/assets/")js/plugins/datatables/DT_bootstrap.js"></script>
        <script src="@Url.Content("~/Content/assets/")js/plugins/datatables/jquery.dataTables-conf.js"></script>
        <!-- Chart JS -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/DevExpressChartJS/dx.chartjs.js"></script>
        <!-- For Demo Charts -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/DevExpressChartJS/demo-gauges.js"></script>
        <!-- Chart JS -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/DevExpressChartJS/dx.chartjs.js"></script>
        <script src="@Url.Content("~/Content/assets/")js/plugins/DevExpressChartJS/world.js"></script>
        <script type="text/javascript" src="http://cdn3.devexpress.com/jslib/13.2.12/js/vectormap-data/usa.js"></script>
        <script type="text/javascript" src="http://cdn3.devexpress.com/jslib/13.2.12/js/vectormap-data/africa.js"></script>
        <script type="text/javascript" src="http://cdn3.devexpress.com/jslib/13.2.12/js/vectormap-data/canada.js"></script>
        <script type="text/javascript" src="http://cdn3.devexpress.com/jslib/13.2.12/js/vectormap-data/europe.js"></script>
        <!-- For Demo Charts -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/DevExpressChartJS/demo-rangeselector.js"></script>
        <!-- Chart JS -->
        <script src="@Url.Content("~/Content/assets/")js/plugins/DevExpressChartJS/dx.chartjs.js"></script>




        <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56821827-1', 'auto');
    ga('send', 'pageview');

        </script>
    </section>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
